/*  ========================================================================  *\
    F I R S T   S T Y L E . C S S
\*  ========================================================================  */

/* Alap háttérkép */
body {
    background-image:       url('../images/background-images/000-background-default.webp');
    background-size:        cover;
    background-repeat:      no-repeat;
    background-attachment:  fixed;
    background-position:    center;
}

/* Header, aside, footer háttér szín */
header, footer {
    background-color:  rgba(218, 165, 32, 0.75);
}

#style-selector-list-box {
    background-color:  rgba(218, 165, 32, 1);
}

/* Header, aside, footer szöveg szín */
main h4, main p {
    color:        white;
    text-shadow:  -0.125rem -0.125rem black, 0.125rem 0.125rem black;
    transition:   color 1s ease-in-out, text-shadow 1s ease-in-out;
}


/*  ========================================================================  *\
    E N D   O F   D E F A U L T   S T Y L E . C S S
\*  ========================================================================  */