/*  ========================================================================  *\
    F E B R U A R Y   S T Y L E . C S S
\*  ========================================================================  */

/* Alap háttérkép */
body {
    background-image:       url('../../images/002-background-february.webp');
    background-size:        cover;
    background-repeat:      no-repeat;
    background-attachment:  fixed;
    background-position:    center;
}

/* Header, aside, footer háttérszín */
header, footer {
    background-color:  rgba(173, 216, 230, 0.75);
}

#style-selector-list-box {
    background-color:  rgba(173, 216, 230, 1);
}

/* Header, aside, footer szöveg szín */
main h4, main p {
    color:        white;
    text-shadow:  -0.125rem -0.125rem black, 0.125rem 0.125rem black;
    transition:   color 1s ease-in-out, text-shadow 1s ease-in-out;
}


/*  ========================================================================  *\
    E N D   O F   F E B R U A R Y   S T Y L E . C S S
\*  ========================================================================  */