/*  ========================================================================  *\
    F E B R U A R Y   S T Y L E . C S S
\*  ========================================================================  */

/* Alap háttérkép */
body {
    background-image:       url('../../images/002-background-february.webp');
    background-size:        cover;
    background-repeat:      no-repeat;
    background-attachment:  fixed;
    background-position:    center;
}

/* Header, aside, footer háttérszín */
header, aside, footer {
    background-color:  rgba(173, 216, 230, 0.8);
}