/*  ========================================================================  *\
    M A Y   S T Y L E . C S S
\*  ========================================================================  */

/* Alap háttérkép */
body {
    background-image:       url('../../images/005-background-may.webp');
    background-size:        cover;
    background-repeat:      no-repeat;
    background-attachment:  fixed;
    background-position:    center;
}

/* Header, aside, footer háttér szín */
header, aside, footer {
    background-color:  rgba(0, 128, 0, 0.8);
}