/*  ========================================================================  *\
    J U L Y   S T Y L E . C S S
\*  ========================================================================  */

/* Alap háttérkép */
body {
    background-image:       url('../../images/007-background-july.webp');
    background-size:        cover;
    background-repeat:      no-repeat;
    background-attachment:  fixed;
    background-position:    center;
}

/* Header, aside, footer háttér szín */
header, aside, footer {
    background-color:  rgba(255, 69, 0, 0.8);
}

/* Header, aside, footer szöveg szín */
main h4, main p {
    color:        white;
    text-shadow:  -0.125rem -0.125rem black, 0.125rem 0.125rem black;
    transition:   color 1s ease-in-out, text-shadow 1s ease-in-out;
}


/*  ========================================================================  *\
    E N D   O F   J U L Y   S T Y L E . C S S
\*  ========================================================================  */